@using Gambler.Bot.AutoBet.Helpers;
<div class="settingsBorder">
    <div class="groupHeader">
<h4>Auto Withdraw/Tip</h4>
    </div>
    <div class="settingsBorder">
        <div class="groupHeader">
<h5>Upper Limit</h5>
        </div>
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableUpperLimit"/>
    <DxComboBox CssClass="settingEdit" Data="Actions" @bind-Value="BetSettings.UpperLimitAction">
                        
</DxComboBox>
<span class="settingLabel">when</span>
    <DxComboBox CssClass="settingEdit" Data="Compares" @bind-Value="BetSettings.UpperLimitCompare">

</DxComboBox>
<span class="settingLabel">></span>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.UpperLimit" />
</div>
<div class="settingContainer">
<span class="settingLabel">Amount</span>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.UpperLimitActionAmount" Enabled="@(BetSettings.UpperLimitAction!= InternalBetSettings.LimitAction.Stop)" />
</div>
<div class="settingContainer">
<span class="settingLabel">Address/User</span>
    <DxTextBox CssClass="settingEdit" @bind-Value="BetSettings.UpperLimitAddress" Enabled="@(BetSettings.UpperLimitAction!= InternalBetSettings.LimitAction.Stop)" />
</div>
    </div>
    <div class="settingsBorder">
        <div class="groupHeader">
            <h5>Lower Limit</h5>
        </div>

           
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableLowerLimit"  ></DxCheckBox>
    <DxComboBox CssClass="settingEdit" Data="Actions" @bind-Value="BetSettings.LowerLimitAction">

</DxComboBox>
<span class="settingLabel">when</span>
    <DxComboBox CssClass="settingEdit" Data="Compares" @bind-Value="BetSettings.LowerLimitCompare">

</DxComboBox>
<span class="settingLabel">></span>
    <DxSpinEdit CssClass="settingEdit"  @bind-Value="BetSettings.LowerLimit" />
</div>
    
    <div class="settingContainer">
<span class="settingLabel">Amount</span>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.LowerLimitActionAmount" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
</div>
                
<div class="settingContainer">
<span class="settingLabel">Address/User</span>
    <DxTextBox CssClass="settingEdit" @bind-Value="BetSettings.LowerLimitAddress" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
</div>
    </div>
    <div class="settingsBorder">
        <div class="groupHeader">
            <h4>Reset Seed</h4>
        </div>

    
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableResetSeedBets"  >
                Reset after every
            </DxCheckBox>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.ResetSeedBets" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
<span class="settingLabel">Bets</span>
            
</div>
            
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableResetSeedWins"  >
                Reset after every
            </DxCheckBox>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.ResetSeedWins" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
    <span class="settingLabel">Wins</span>
</div>
           
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableResetSeedWinStreak"  >
                Reset after every
            </DxCheckBox>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.ResetSeedWinStreak" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
            <span class="settingLabel">Wins in a row</span>
</div>
           
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableResetSeedLosses"  >
                Reset after every
            </DxCheckBox>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.ResetSeedLosses" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
            <span class="settingLabel">Losses</span>
</div>
            
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableResetSeedLossStreak"  >
            Reset after every
            </DxCheckBox>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.ResetSeedLossStreak" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
            <span class="settingLabel">Losses in a row</span>
</div>
            
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableResetSeedProfit"  >
            Reset after every
            </DxCheckBox>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.ResetSeedProfit" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
            <span class="settingLabel">Profit</span>
</div>
           
<div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableResetSeedLoss"  >
            Reset after every
            </DxCheckBox>
    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.ResetSeedLoss" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
            <span class="settingLabel">Loss</span>
</div>

    </div>
    <div class="settingsBorder">
        <div class="groupHeader">
            <h4>Bot Speed</h4>
        </div>

    
    <div class="settingContainer">
            <DxCheckBox CssClass="settingLabel" @bind-Checked="@BetSettings.EnableBotSpeed"  >
Bot Speed
            </DxCheckBox>

    <DxSpinEdit CssClass="settingEdit" @bind-Value="BetSettings.BotSpeed" Enabled="@(BetSettings.LowerLimitAction!= InternalBetSettings.LimitAction.Stop)" />
<span class="settingLabel">Bets per second</span>
                
</div>
<p>
    By default, the bot bets as fast as it can. The bot speed setting should only be enabled if you intend to slow down the betting speed or if you are getting errors from the site.
</p>
    </div>
</div>
@code {
    [Parameter]
    public InternalBetSettings BetSettings { get; set; }

    List<string> Actions = new List<string> { "Withdraw", "Tip", "Stop" };
    List<string> Compares = new List<string> { "Profit", "Balance" };

    public AdvancedSettings()
    {
        
    }


}
