<h3>SessionStats</h3>
<DxTabs>
    <DxTabPage Text="Basic Stats">
        <div>
            <h4 class="stat">Time Running</h4>
            <p class="stat">@Stats.RunningTimeSpan</p>
        </div>
        <div>
            <h4 class="stat">Profit</h4>
            <p class="stat">@Stats.Profit</p>
        </div>
        <div>
            <h4 class="stat">Wagered</h4>
            <p class="stat">@Stats.Wagered</p>
        </div>
        <div>
            <h4 class="stat">Bets</h4>
            <p class="stat">@Stats.Bets</p>
        </div>
        <div>
            <h4 class="stat">Wins</h4>
            <p class="stat">@Stats.Wins</p>
        </div>
        <div>
            <h4 class="stat">Losses</h4>
            <p class="stat">@Stats.Losses</p>
        </div>
        <div>
            <h4 class="stat">Best Streak</h4>
            <p class="stat">@Stats.BestStreak</p>
        </div>
        <div>
            <h4 class="stat">Worst Streak</h4>
            <p class="stat">@Stats.WorstStreak</p>
        </div>
        <div>
            <h4 class="stat">Profit / Hour</h4>
            <p class="stat">@Stats.ProfitPerHour</p>
        </div>
        <div>
            <h4 class="stat">Profit / 24 hours</h4>
            <p class="stat">@Stats.ProfitPer24Hour</p>
        </div>
        <div>
            <h4 class="stat">Current Streak</h4>
            <p class="stat">@Stats.CurrentStreak</p>
        </div>
        <div>
            <h4 class="stat">Avg Profit/Bet</h4>
            <p class="stat">@Stats.ProfitPerBet</p>
        </div>
        <div>
            <h4 class="stat">Luck</h4>
            <p class="stat">@Stats.luck</p>
        </div>
    </DxTabPage>
    <DxTabPage Text="More Stats">

        <div>
            <h4 class="stat">Avg Streak</h4>
            <p class="stat">@Stats.AvgStreak</p>
        </div>
        <div>
            <h4 class="stat">Avg Win Streak</h4>
            <p class="stat">@Stats.AvgWin</p>
        </div>
        <div>
            <h4 class="stat">Avg Lose Streak</h4>
            <p class="stat">@Stats.AvgLoss</p>
        </div>
        <div>
            <h4 class="stat">3 Best Streaks</h4>
            <p class="stat">@Stats.BestStreak</p>
        </div>
        <div>
            <h4 class="stat"></h4>
            <p class="stat">@Stats.BestStreak2</p>
        </div>
        <div>
            <h4 class="stat"></h4>
            <p class="stat">@Stats.BestStreak3</p>
        </div>
        <div>
            <h4 class="stat">3 Worst Streaks</h4>
            <p class="stat">@Stats.WorstStreak</p>
        </div>
        <div>
            <h4 class="stat"></h4>
            <p class="stat">@Stats.WorstStreak2</p>
        </div>
        <div>
            <h4 class="stat"></h4>
            <p class="stat">@Stats.WorstStreak3</p>
        </div>
        <div>
            <h4 class="stat">Largest Bet</h4>
            <p class="stat">@Stats.LargestBet</p>
        </div>
        <div>
            <h4 class="stat">Largest Win</h4>
            <p class="stat">@Stats.LargestWin</p>
        </div>
        <div>
            <h4 class="stat">Largest Loss</h4>
            <p class="stat">@Stats.LargestLoss</p>
        </div>


    </DxTabPage>
    </DxTabs>




@code {
    [Parameter]
    public DoormatBot.Helpers.SessionStats Stats { get; set; }

    public SessionStats()
    {

    }

    public void RefreshStats()
    {
        InvokeAsync(StateHasChanged);
    }
}
