<div class="settingsBorder">
    <div class="groupHeader"><h4>Session Stats</h4></div>
<DxTabs>
    <DxTabPage Text="Basic Stats">
        <div>
            <h5 class="stat">Time Running</h5>
            <p class="stat">@Stats?.RunningTimeSpan.ToString("dd\\ hh\\:mm\\:ss")</p>
        </div>
        <div>
            <h5 class="stat">Profit</h5>
                <p class="stat @(Stats.Profit>=0?"text-success":"text-danger" )">@Stats?.Profit.ToString("n8")</p>
        </div>
        <div>
            <h5 class="stat">Wagered</h5>
                <p class="stat">@Stats?.Wagered.ToString("n8")</p>
        </div>
        <div>
            <h5 class="stat">Bets</h5>
            <p class="stat">@Stats?.Bets</p>
        </div>
        <div>
            <h5 class="stat">Wins</h5>
                <p class="stat text-success">@Stats?.Wins</p>
        </div>
        <div>
            <h5 class="stat">Losses</h5>
                <p class="stat text-danger">@Stats?.Losses</p>
        </div>
        <div>
            <h5 class="stat">Best Streak</h5>
            <p class="stat">@Stats?.BestStreak</p>
        </div>
        <div>
            <h5 class="stat">Worst Streak</h5>
            <p class="stat">@Stats?.WorstStreak</p>
        </div>
        <div>
            <h5 class="stat">Profit / Hour</h5>
                <p class="stat @(Stats.ProfitPerHour>=0?"text-success":"text-danger" )">@Stats?.ProfitPerHour.ToString("n8")</p>
        </div>
        <div>
            <h5 class="stat">Profit / 24 hours</h5>
                <p class="stat @(Stats.ProfitPer24Hour>=0?"text-success":"text-danger" )">@Stats?.ProfitPer24Hour.ToString("n8")</p>
        </div>
        <div>
            <h5 class="stat">Current Streak</h5>
                <p class="stat @(Stats.CurrentStreak>=0?"text-success":"text-danger" )">@Stats?.CurrentStreak</p>
        </div>
        <div>
            <h5 class="stat">Avg Profit/Bet</h5>
                <p class="stat @(Stats.ProfitPerBet>=0?"text-success":"text-danger" )">@Stats?.ProfitPerBet.ToString("n8")</p>
        </div>
        <div>
            <h5 class="stat">Luck</h5>
                <p class="stat @(Stats.Luck>=0?"text-success":"text-danger" )">@Stats?.Luck</p>
        </div>
    </DxTabPage>
    <DxTabPage Text="More Stats">

        <div>
            <h5 class="stat">Avg Streak</h5>
                <p class="stat  @(Stats.AvgStreak>=0?"text-success":"text-danger" )">@Stats?.AvgStreak.ToString("n5")</p>
        </div>
        <div>
            <h5 class="stat">Avg Win Streak</h5>
                <p class="stat text-success">@Stats?.AvgWin.ToString("n5")</p>
        </div>
        <div>
            <h5 class="stat">Avg Lose Streak</h5>
                <p class="stat text-danger">@Stats?.AvgLoss.ToString("n5")</p>
        </div>
        <div>
            <h5 class="stat">3 Best Streaks</h5>
                <p class="stat text-success">@Stats?.BestStreak</p>
        </div>
        <div>
            <h5 class="stat"></h5>
                <p class="stat text-success">@Stats?.BestStreak2</p>
        </div>
        <div>
            <h5 class="stat"></h5>
                <p class="stat text-success">@Stats?.BestStreak3</p>
        </div>
        <div>
            <h5 class="stat">3 Worst Streaks</h5>
                <p class="stat text-danger">@Stats?.WorstStreak</p>
        </div>
        <div>
            <h5 class="stat"></h5>
                <p class="stat text-danger">@Stats?.WorstStreak2</p>
        </div>
        <div>
            <h5 class="stat"></h5>
                <p class="stat text-danger">@Stats?.WorstStreak3</p>
        </div>
        <div>
            <h5 class="stat">Largest Bet</h5>
                <p class="stat">@Stats?.LargestBet.ToString("n8")</p>
        </div>
        <div>
            <h5 class="stat">Largest Win</h5>
                <p class="stat text-success">@Stats?.LargestWin.ToString("n8")</p>
        </div>
        <div>
            <h5 class="stat">Largest Loss</h5>
                <p class="stat text-danger">@Stats?.LargestLoss.ToString("n8")</p>
        </div>


    </DxTabPage>
    </DxTabs>


</div>

@code {
    [Parameter]
    public DoormatBot.Helpers.SessionStats Stats { get; set; }

    public SessionStats()
    {

    }

    public void RefreshStats()
    {
        InvokeAsync(StateHasChanged);
    }
}
