@using DoormatBot.Helpers;
<div>
<h3>General</h3>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterBets">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterBets" Enabled="@BetSettings.EnableStopAfterBets" MinValue="1" MaxValue="1000000" Increment="1" /> Bets
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterBets">Reset After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterBets" Enabled="@BetSettings.EnableResetAfterBets" MinValue="1" MaxValue="1000000" Increment="1" /> Bets
</div>
</div>
<div>
<h3>On Loss</h3>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterLoseStreak">Reset After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetAfterLoseStreak" Enabled="@BetSettings.EnableResetAfterLoseStreak" MinValue="1" MaxValue="1000000" Increment="1" /> Losses in a row
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterLosses">Reset After every</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetAfterLosses" Enabled="@BetSettings.EnableResetAfterLosses" MinValue="1" MaxValue="1000000" Increment="1" /> losses
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterBtcStreakLoss">Reset After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetAfterBtcStreakLoss" Enabled="@BetSettings.EnableResetAfterBtcStreakLoss" MinValue="1" MaxValue="1000000" Increment="1" /> Value lost in a row
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterBtcLoss">Reset After every</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetAfterBtcLoss" Enabled="@BetSettings.EnableResetAfterBtcLoss" MinValue="1" MaxValue="1000000" Increment="1" /> Value lost
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetLossFromMaxProfit">Reset After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetLossFromMaxProfit" Enabled="@BetSettings.EnableResetLossFromMaxProfit" MinValue="1" MaxValue="1000000" Increment="1" /> Loss since max profit
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterLoseStreak">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterLoseStreak" Enabled="@BetSettings.EnableStopAfterLoseStreak" MinValue="1" MaxValue="1000000" Increment="1" /> losses in a row
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterLosses">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterLosses" Enabled="@BetSettings.EnableStopAfterLosses" MinValue="1" MaxValue="1000000" Increment="1" /> Losses
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterBtcLoseStreak">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterBtcLoseStreak" Enabled="@BetSettings.EnableStopAfterBtcLoseStreak" MinValue="1" MaxValue="1000000" Increment="1" /> value lost in a row
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterBtcLoss">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterBtcLoss" Enabled="@BetSettings.EnableStopAfterBtcLoss" MinValue="1" MaxValue="1000000" Increment="1" /> value lost
</div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopLossFromMaxProfit">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopLossFromMaxProfit" Enabled="@BetSettings.EnableStopLossFromMaxProfit" MinValue="1" MaxValue="1000000" Increment="1" /> value lost since max profit
</div>
    
</div>
<div>
    <h3>On Win</h3>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterLoseStreak">Reset After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetAfterLoseStreak" Enabled="@BetSettings.EnableResetAfterLoseStreak" MinValue="1" MaxValue="1000000" Increment="1" /> Wins in a row
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterWins">Reset After every</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetAfterWins" Enabled="@BetSettings.EnableResetAfterWins" MinValue="1" MaxValue="1000000" Increment="1" /> Wins
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterBtcStreakWin">Reset After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetAfterBtcStreakWin" Enabled="@BetSettings.EnableResetAfterBtcStreakWin" MinValue="1" MaxValue="1000000" Increment="1" /> Value lost in a row
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetAfterBtcWin">Reset After every</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetAfterBtcWin" Enabled="@BetSettings.EnableResetAfterBtcWin" MinValue="1" MaxValue="1000000" Increment="1" /> Value lost
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableResetWinFromMinProfit">Reset After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.ResetWinFromMinProfit" Enabled="@BetSettings.EnableResetWinFromMinProfit" MinValue="1" MaxValue="1000000" Increment="1" /> Win since max profit
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterLoseStreak">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterLoseStreak" Enabled="@BetSettings.EnableStopAfterLoseStreak" MinValue="1" MaxValue="1000000" Increment="1" /> Wins in a row
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterWins">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterWins" Enabled="@BetSettings.EnableStopAfterWins" MinValue="1" MaxValue="1000000" Increment="1" /> Wins
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterBtcLoseStreak">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterBtcLoseStreak" Enabled="@BetSettings.EnableStopAfterBtcLoseStreak" MinValue="1" MaxValue="1000000" Increment="1" /> value lost in a row
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopAfterBtcWin">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopAfterBtcWin" Enabled="@BetSettings.EnableStopAfterBtcWin" MinValue="1" MaxValue="1000000" Increment="1" /> value lost
    </div>
    <div class="settingContainer">
        <DxCheckBox CssClass="settingEdit" LabelPosition="LabelPosition.Right" @bind-Checked="@BetSettings.EnableStopWinFromMinProfit">Stop After</DxCheckBox>
        <DxSpinEdit CssClass="settingEdit" @bind-Value="@BetSettings.StopWinFromMinProfit" Enabled="@BetSettings.EnableStopWinFromMinProfit" MinValue="1" MaxValue="1000000" Increment="1" /> value lost since max profit
    </div>

</div>
@code {
    [Parameter]
    public InternalBetSettings BetSettings { get; set; } 
}
